In [1]:
numberSet={1,2,3,4,5,2}
print(numberSet)

{1, 2, 3, 4, 5}

In [3]:
emptyset={}
print(type(emptyset))

<class 'dict'>

In [4]:
emptyset=set()
print(type(emptyset))

<class 'set'>

In [8]:
my_set={1.0,"hello",(1,2,3)}
print(my_set)

{1.0, (1, 2, 3), 'hello'}

In [6]:
set_with_lists={[1,2,3]}

TypeError: unhashable type: 'list'

In [9]:
set_with_lists=([1,2,3])
print(type(set_with_lists))
print(set_with_lists)

<class 'list'>
[1, 2, 3]

In [10]:
myset=set()

In [12]:
myset.update([9,12])
myset.update((3,5))
myset.update("sikander")
print(myset)

{'a', 'i', 3, 'e', 5, 'k', 'n', 9, 12, 'd', 'r', 's'}

In [13]:
myset.update(("INDIA","BHARAT"))
print(myset)
myset.update(4,5)

{'a', 'i', 3, 'e', 5, 'INDIA', 'k', 'n', 9, 12, 'd', 'r', 'BHARAT', 's'}

TypeError: 'int' object is not iterable

In [14]:
print(myset)

{'a', 'i', 3, 'e', 5, 'INDIA', 'k', 'n', 9, 12, 'd', 'r', 'BHARAT', 's'}

In [15]:
myset.discard(12)
print(myset)

{'a', 'i', 3, 'e', 5, 'INDIA', 'k', 'n', 9, 'd', 'r', 'BHARAT', 's'}

In [17]:
myset.discard(15)
print(myset)

{'a', 'i', 3, 'e', 5, 'INDIA', 'k', 'n', 9, 'd', 'r', 'BHARAT', 's'}

In [18]:
print(myset)
myset.remove(15)

{'a', 'i', 3, 'e', 5, 'INDIA', 'k', 'n', 9, 'd', 'r', 'BHARAT', 's'}

KeyError: 15

In [19]:
myset.discard(12)
print(myset)

True

In [21]:
my_set=("apple")
print('a'in my_set)
print('p'not in my_set)

True
False

In [22]:
data="cranes varsity bangalore"
unique=set(data)
print("number of unique characters=",len(unique))
print("list of unique characters=",unique)
data=list(data)
for ele in unique:
    data.remove(ele)
print("repeated characters",set(data))

number of unique characters= 15
list of unique characters= {'a', 'e', 'i', 't', 'n', 'l', 'r', 'g', 'o', 's', 'v', 'b', 'c', 'y', ' '}
repeated characters {'a', 'e', 'n', 'r', 's', ' '}

In [24]:
A={1,2,3,4,5}
B={4,5,6,7,8}
print("union=",A|B)
print("INTERSECTION=",A&B)
print("difference=",A-B)
print("symmetric diff",A^B)

union= {1, 2, 3, 4, 5, 6, 7, 8}
INTERSECTION= {4, 5}
difference= {1, 2, 3}
symmetric diff {1, 2, 3, 6, 7, 8}

In [25]:
studentlist={'danish','jaison','sangeetha','uma','amrutha','prasad'}
placedstudentlist={'uma','danish','amrutha'}
notplacedlist=set(studentlist)-set(placedstudentlist)
print("students yet to get job\n",notplacedlist)

students yet to get job
 {'sangeetha', 'jaison', 'prasad'}

In [27]:
batsmen=['virat','dhawan','rohit','pandya','jadeja']
bowlers=["bhuveneshwar","shami","pandya","jadeja","kuldeep"]
allrounders=set(batsmen)&set(bowlers)
print("batsman:\n",batsmen)
print("bowlers:\n",bowlers)
print("allrounders:\n",allrounders)

batsman:
 ['virat', 'dhawan', 'rohit', 'pandya', 'jadeja']
bowlers:
 ['bhuveneshwar', 'shami', 'pandya', 'jadeja', 'kuldeep']
allrounders:
 {'jadeja', 'pandya'}

In [28]:
tcs=["uma","danish","amrutha"]
infosys=["lohitha","danish","ashwathi"]
wipro=["sangeetha","jaison","prasad","amrutha"]
placed=set(tcs)|set(infosys)|set(wipro)
print(placed)
print("number of people placed=",len(placed))

{'jaison', 'danish', 'lohitha', 'uma', 'amrutha', 'ashwathi', 'prasad', 'sangeetha'}
number of people placed= 8

In [29]:
numbers={1,2,3,4,5,6,7,8,9,10}
odd={1,3,5,7,9}
even={2,4,6,8,10}
print(odd.isdisjoint(even))
print(numbers.issuperset(odd))
print(odd.issuperset(numbers))
print(odd.issubset(numbers))

True
True
False
True